.activeLink a{
     font-size: 18px;
     text-decoration: none;
     margin: 0px 20px;
}
.noActive{
     color: #132963;
     font-weight: 500;
}
.noActive:hover{
     color: #132963;
}
.active{
     color: rgb(213, 77, 62);
     font-weight: 600;
}
.active:hover{
     color: rgb(213, 77, 62);  
}